
<div class="container mt-4">

    <div class="mb-4">
        <app-student-add [studentId]="edittingId" (studentChanges)="onStudentChanges()"></app-student-add>
    </div>

    <div class="pt-4">
        <div class="row mb-4">
            <input type="text" placeholder="Lastname" class="form-control col-3 mr-2" [(ngModel)]='lastnameParam'>
            <input type="text" placeholder="Group" class="form-control col-3 mr-2" [(ngModel)]='groupParam'>
            <input type="text" placeholder="Direction" class="form-control col-3 mr-2" [(ngModel)]='directionParam'>

        </div>


        
        
        
        
        

        <div class="row mb-2" *ngFor='let student of students | sort : "lastname" : true | filter : lastnameParam : "lastname" | filter : directionParam : "direction" | filter : groupParam : "group"
        '>
            <div class="col-3 mr-2"> 
                {{ student.firstname.slice(0, 1) }}. 
                <ng-template [ngIf]="student.middlename">
                    {{ student.middlename.slice(0, 1) }}. 
                </ng-template>
                {{ student.lastname }} 
            </div>
            <div class="col-3 mr-2"> {{ student.group }} </div>
            <div class="col-3 mr-2"> {{ student.direction }} </div>
            
            <div class="col-2"> <button class="btn btn-outline-warning" [routerLink]="['/edit', student.id]">Edit</button> </div>
        </div>
    </div>
</div>